<%= form_with(model: [@resource, @new_comment], local: true) do |f| %>
  <% if @new_comment.errors.any? %>
    <div class="alert">
      <h4><%= pluralize(@new_commnet.errors.count, "error") %> prohibited this article from being saved:</h4>

      <% @new_commnet.errors.full_messages.each do |message| %>
        <div class="alert-text"><%= message %></div>
      <% end %>
    </div>
  <% end %>
  
	<div class="field">
		<%= f.label :body, "" %><br>
		<%= f.text_area :body, required: true %>
	</div>
  
	<div class="field">
		<%= f.submit %>
	</div>
<% end %>
