<h1>Resources</h1>

<div>
  <% @resources.each do |resource| %>
    <hr>
    <div>

      <h3><%= resource.title %></h3>
      <% resource.categories.each do |category| %>
        <%= link_to category.name, category_path(category.name) %>      
      <% end %>
      <br>
      
      <%= link_to resource.link, resource.link, target: "_blank" %>

      <p><%= resource.notes %></p>
    </div>
        <%= link_to 'Show',  resource %>
    <hr>
  <% end %>

</div>
