<h1>Resource</h1>

<h3>Link:</h3>
<% @resource.categories.each do |category| %>
  <%= link_to category.name, category_path(category.name) %>      
<% end %>
<br>
<%= link_to @resource.link, @resource.link, target: "_blank" %>

<p><%= @resource.notes %></p>


<%= link_to 'View all resources', root_path %> |
<% if current_user == @resource.user %>
<%= link_to 'Edit', edit_resource_path %> |
<%= link_to 'Delete', @resource, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
